<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   {% extends "base.html" %}
{% block content %}
<h2>Mes Profils Nutritionnels</h2>
<a href="{% url 'profil_create' %}">Ajouter Profil</a>
<ul>
    {% for profil in profils %}
    <li>
        Age: {{ profil.age }}, Poids: {{ profil.poids }}kg, Taille: {{ profil.taille }}cm, Objectif: {{ profil.objectif }}
        <a href="{% url 'profil_update' profil.pk %}">Modifier</a>
        <a href="{% url 'profil_delete' profil.pk %}">Supprimer</a>
    </li>
    {% empty %}
    <li>Vous n'avez pas encore de profil.</li>
    {% endfor %}
</ul>
{% endblock %}
</form>
</body>
</html>